.btn {
  padding: 20px;
  background-color: transparent;
}
.active {
  background-color: gray;
  border-bottom: none;
}

.content-container {
  border: solid black 1px;
  width: 70%;
  height: 200px;
}

.tab {
  padding: 0.5em;
  border: solid black 1px;
  margin: 0;
}

.selectedClass{
  color: white;
  background-color: black;
}